/*
  This CSS resource incorporates links to font software which is the valuable copyrighted
  property of Monotype and/or its suppliers. You may not attempt to copy, install,
  redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
  with any questions regarding Web Fonts:  http://www.linotype.com
*/


//@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap');


/* Regular */
@font-face {
  font-family: "Neighbour Sans";
  src: url("./fonts/neighbour/NeighbourSans-Normal.woff2") format("woff2"),
       url("./fonts/neighbour/NeighbourSans-Normal.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: "Neighbour Sans";
  src: url("./fonts/neighbour/NeighbourSans-Bold.woff2") format("woff2"),
       url("./fonts/neighbour/NeighbourSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Extra Bold */
@font-face {
  font-family: "Neighbour Sans";
  src: url("./fonts/neighbour/NeighbourSans-ExtraBold.woff2") format("woff2"),
       url("./fonts/neighbour/NeighbourSans-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}