/*
  This CSS resource incorporates links to font software which is the valuable copyrighted
  property of Monotype and/or its suppliers. You may not attempt to copy, install,
  redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
  with any questions regarding Web Fonts:  http://www.linotype.com
*/

/* Neighbour Sans – Normal */
@font-face {
  font-family: 'NeighbourSans-Normal';
  src: url('https://compassion.ch/wp-content/themes/compassion/assets/fonts/neighbour/NeighbourSans-Normal.woff2') format('woff2'),
  url('https://compassion.ch/wp-content/themes/compassion/assets/fonts/neighbour/NeighbourSans-Normal.woff') format('woff');
  font-weight: 400;   /* normal */
  font-style: normal;
  font-display: swap;
}

/* Neighbour Sans – Bold */
@font-face {
  font-family: 'NeighbourSans-Bold';
  src: url('https://compassion.ch/wp-content/themes/compassion/assets/fonts/neighbour/NeighbourSans-Bold.woff2') format('woff2'),
  url('https://compassion.ch/wp-content/themes/compassion/assets/fonts/neighbour/NeighbourSans-Bold.woff') format('woff');
  font-weight: 700;   /* bold */
  font-style: normal;
  font-display: swap;
}

/* Neighbour Sans – ExtraBold */
@font-face {
  font-family: 'NeighbourSans-ExtraBold';
  src: url('https://compassion.ch/wp-content/themes/compassion/assets/fonts/neighbour/NeighbourSans-ExtraBold.woff2') format('woff2'),
  url('https://compassion.ch/wp-content/themes/compassion/assets/fonts/neighbour/NeighbourSans-ExtraBold.woff') format('woff');
  font-weight: 800;   /* extra bold */
  font-style: normal;
  font-display: swap;
}
